bcrypt==5.0.0
blinker==1.9.0
click==8.3.3
colorama==0.4.6
distlib==0.4.1
filelock==3.29.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
platformdirs==4.10.0
psycopg2-binary==2.9.12
python-discovery==1.4.0
python-dotenv==1.0.1
SQLAlchemy==2.0.49
typing_extensions==4.15.0
virtualenv==21.4.2
Werkzeug==3.0.3
WTForms==3.2.2
